.LOGO {
    padding-left: 40%   ;
    height: 100px;
    width: 300px;
}
.LOGO:hover {
    height: 103px;
    width: 305px;
}
.navbar{
    position:fixed;
    width:100%;
    z-index: 1000000;
    top:0;
}
.BotonWsp {
    height: 100%;
    border: white;
    border-radius: 10%;
    background-color: #28DC40;
    color: white;
}
.BotonWsp:hover{
height: 110%;
width: 110%;
}

.nav-item {
    padding-left: 30%;
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;
}

a.nav-link{
    color: #080808 !important;
}
a.nav-link:focus{
    color: #FDCF00!important;
}
a.nav-link:hover{
   background-color: #FDCF00!important;
   color: black !important;
}

.carousel-item{
    position: relative !important;
height: 100% !important;
}
img{
    height: 100%
}
.container{
    width: 50%;
    display: flex;
    max-width: 1100px;
    display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}
.card{
    width: 50%;
    display: flex;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}
    .card:hover{
        box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
        transform: translateY(-3%);

    }
.card img{
    width: 100%;
    height: 210px;
}
.card .container{
   padding: 15px; 
   text-align: center;

}
.card .container p{
    line-height: 1.5;
    color: #6a6a6a;

}
.card .container h3{
margin-bottom: 15px;

}
.card .container{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fbacc;
    border: 1px solid #2fbacc;
    border-radius: 4px;
    transition: all 400ms ease;

}
.card h3{
    text-align: center;
}
.card p{
    text-align: center;
}
